.drop-box {
    padding: 50px 30px;
    border: 2px dashed rgb(203 209 247);
    text-align: center;
    border-radius: 0.75rem;
    background: transparent;
}

.progress-bar{
    margin-bottom: 0;
}

.btn-play a {
    color: #d1d1d1;
}

.v-align-middle{
    vertical-align: middle;
}