<div class="header bg-gradient-info py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Theme Settings</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt--7">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card bg-secondary shadow">
                <div class="card-header">
                    <h3 class="mb-0">Change Background Colors</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">
                            <button class="btn btn-outline-primary rounded" (click)="changeBG('red')">Background
                                Red</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary rounded border-0"
                                (click)="changeBG('blue')">Background Blue</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary rounded border-0"
                                (click)="changeBG('black')">Background Black</button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary rounded border-0"
                                (click)="changeBG('green')">Background Green</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>